In [1]:
import pandas as pd
import numpy as np

In [2]:
fdata = pd.read_csv('flight_data.csv')
fdata.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,01-01-2013 05:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,01-01-2013 05:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,01-01-2013 05:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,01-01-2013 05:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,01-01-2013 06:00

In [3]:
fdata.dtypes

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

# Check Null Values in Dataset  :

In [4]:
fdata.isnull().values.any()

True

In [5]:
fdata.isnull().sum()

year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

In [6]:
len(fdata[fdata['arr_time'].isnull() & fdata['dep_time'].isnull()])

8255

* There are 8255 rows in which both arrival & departure time is not available. We can drop above rows from dataset!

In [7]:
fdata.shape

(336776, 19)

In [8]:

fdata.dropna(subset=['dep_time', 'arr_time'], how='all',inplace=True)

In [9]:
fdata.shape

(328521, 19)

In [10]:
fdata.isnull().sum()

year                 0
month                0
day                  0
dep_time             0
sched_dep_time       0
dep_delay            0
arr_time           458
sched_arr_time       0
arr_delay         1175
carrier              0
flight               0
tailnum              0
origin               0
dest                 0
air_time          1175
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

In [11]:
fdata['arr_time'].isnull().sum()

458

* There are 458 Flights for which arrival time is NOT available but departure time is available. These are valid number of flights where dep_time data is missing. -- Keep these rows

* We can fill these rows by adding tavel time in dep_time . sched_arr_time - sched_dep_time

In [12]:
fdata["dep_time"]= pd.to_numeric(fdata['dep_time']).astype(np.int64).apply(lambda x: '{0:0>4}'.format(x))
fdata["sched_dep_time"]= pd.to_numeric(fdata['sched_dep_time']).astype(np.int64).apply(lambda x: '{0:0>4}'.format(x))
fdata["sched_arr_time"]= pd.to_numeric(fdata['sched_arr_time']).astype(np.int64).apply(lambda x: '{0:0>4}'.format(x))
fdata["dep_delay"]= pd.to_numeric(fdata['dep_delay']).astype(np.int64)

In [13]:
fdata.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,0517,0515,2,830.0,0819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,01-01-2013 05:00
1,2013,1,1,0533,0529,4,850.0,0830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,01-01-2013 05:00
2,2013,1,1,0542,0540,2,923.0,0850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,01-01-2013 05:00
3,2013,1,1,0544,0545,-1,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,01-01-2013 05:00
4,2013,1,1,0554,0600,-6,812.0,0837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,01-01-2013 06:00

In [14]:
fdata["dep_time"]= pd.to_timedelta(fdata["dep_time"].str[:2]+":"+fdata["dep_time"].str[-2:]+":00")
fdata["sched_dep_time"]= pd.to_timedelta(fdata["sched_dep_time"].str[:2]+":"+fdata["sched_dep_time"].str[-2:]+":00")
fdata["sched_arr_time"]= pd.to_timedelta(fdata["sched_arr_time"].str[:2]+":"+fdata["sched_arr_time"].str[-2:]+":00")

In [15]:
fdata.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,05:17:00,05:15:00,2,830.0,08:19:00,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,01-01-2013 05:00
1,2013,1,1,05:33:00,05:29:00,4,850.0,08:30:00,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,01-01-2013 05:00
2,2013,1,1,05:42:00,05:40:00,2,923.0,08:50:00,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,01-01-2013 05:00
3,2013,1,1,05:44:00,05:45:00,-1,1004.0,10:22:00,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,01-01-2013 05:00
4,2013,1,1,05:54:00,06:00:00,-6,812.0,08:37:00,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,01-01-2013 06:00

In [16]:
fdata[fdata['arr_time'].isnull() == True]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
754,2013,1,1,20:16:00,19:30:00,46,NaN,22:20:00,NaN,EV,4204,N14168,EWR,OKC,NaN,1325,19,30,01-01-2013 19:00
1714,2013,1,2,20:41:00,20:45:00,-4,NaN,23:59:00,NaN,B6,147,N630JB,JFK,RSW,NaN,1074,20,45,02-01-2013 20:00
1756,2013,1,2,21:45:00,21:29:00,16,NaN,00:33:00,NaN,UA,1299,N12221,EWR,RSW,NaN,1068,21,29,02-01-2013 21:00
7039,2013,1,9,06:15:00,06:15:00,0,NaN,08:55:00,NaN,9E,3856,N161PQ,JFK,ATL,NaN,760,6,15,09-01-2013 06:00
7851,2013,1,9,20:42:00,20:40:00,2,NaN,23:57:00,NaN,B6,677,N807JB,JFK,LAX,NaN,2475,20,40,09-01-2013 20:00
9284,2013,1,11,13:44:00,13:50:00,-6,NaN,15:18:00,NaN,EV,4171,N15985,EWR,MSN,NaN,799,13,50,11-01-2013 13:00
11128,2013,1,13,19:07:00,16:34:00,153,NaN,18:37:00,NaN,EV,4411,N11535,EWR,MEM,NaN,946,16,34,13-01-2013 16:00
11245,2013,1,13,22:39:00,21:59:00,40,NaN,00:30:00,NaN,EV,4519,N17196,EWR,BWI,NaN,169,21,59,13-01-2013 21:00
13268,2013,1,16,08:37:00,08:40:00,-3,NaN,10:30:00,NaN,MQ,4521,N722MQ,LGA,RDU,NaN,431,8,40,16-01-2013 08:00
21425,2013,1,25,14:52:00,15:00:00,-8,NaN,16:19:00,NaN,US,2179,N757UW,LGA,DCA,NaN,214,15,0,25-01-2013 15:00
21435,2013,1,25,14:57:00,15:05:00,-8,NaN,16:37:00,NaN,9E,3393,N925XJ,JFK,DCA,NaN,213,15,5,25-01-2013 15:00
21716,2013,1,25,20:10:00,16:30:00,220,NaN,18:07:00,NaN,EV,4702,N16919,EWR,GSO,NaN,445,16,30,25-01-2013 16:00
24854,2013,1,29,15:59:00,16:05:00,-6,NaN,19:25:00,NaN,9E,3325,N916XJ,JFK,DFW,NaN,1391,16,5,29-01-2013 16:00
25443,2013,1,30,10:25:00,06:35:00,230,NaN,09:34:00,NaN,B6,983,N568JB,LGA,TPA,NaN,1010,6,35,30-01-2013 06:00
26522,2013,1,31,14:49:00,14:45:00,4,NaN,16:06:00,NaN,9E,3452,N925XJ,JFK,BOS,NaN,187,14,45,31-01-2013 14:00
29392,2013,10,3,13:04:00,11:05:00,119,NaN,12:45:00,NaN,EV,5309,N612QX,LGA,BGR,NaN,378,11,5,03-10-2013 11:00
36675,2013,10,11,08:39:00,08:32:00,7,NaN,10:00:00,NaN,9E,3492,N935XJ,JFK,DCA,NaN,213,8,32,11-10-2013 08:00
38272,2013,10,13,08:26:00,08:25:00,1,NaN,10:29:00,NaN,US,2053,N104UW,JFK,CLT,NaN,541,8,25,13-10-2013 08:00
39233,2013,10,14,08:30:00,08:29:00,1,NaN,10:29:00,NaN,MQ,3478,N511MQ,LGA,DTW,NaN,502,8,29,14-10-2013 08:00
40108,2013,10,15,06:57:00,06:25:00,32,NaN,08:50:00,NaN,MQ,3550,N511MQ,LGA,ATL,NaN,762,6,25,15-10-2013 06:00
41895,2013,10,16,20:27:00,20:03:00,24,NaN,22:37:00,NaN,EV,4204,N41104,EWR,OKC,NaN,1325,20,3,16-10-2013 20:00
42937,2013,10,17,22:33:00,21:59:00,34,NaN,23:27:00,NaN,9E,3418,N934XJ,LGA,BGR,NaN,378,21,59,17-10-2013 21:00
51366,2013,10,27,09:46:00,08:05:00,101,NaN,10:00:00,NaN,EV,5242,N612QX,LGA,GSO,NaN,461,8,5,27-10-2013 08:00
53256,2013,10,29,08:51:00,09:00:00,-9,NaN,10:34:00,NaN,UA,235,N815UA,LGA,ORD,NaN,733,9,0,29-10-2013 09:00
53486,2013,10,29,13:19:00,13:00:00,19,NaN,14:34:00,NaN,UA,681,N815UA,LGA,ORD,NaN,733,13,0,29-10-2013 13:00
55015,2013,10,31,06:25:00,06:25:00,0,NaN,09:35:00,NaN,WN,16,N7732A,EWR,HOU,NaN,1411,6,25,31-10-2013 06:00
55974,2013,11,1,06:54:00,07:00:00,-6,NaN,10:15:00,NaN,B6,23,N805JB,JFK,LAX,NaN,2475,7,0,01-11-2013 07:00
56128,2013,11,1,08:55:00,09:05:00,-10,NaN,12:20:00,NaN,VX,161,N853VA,EWR,LAX,NaN,2454,9,5,01-11-2013 09:00
56148,2013,11,1,09:12:00,09:15:00,-3,NaN,12:30:00,NaN,VX,407,N627VA,JFK,LAX,NaN,2475,9,15,01-11-2013 09:00
56150,2013,11,1,09:13:00,09:21:00,-8,NaN,12:35:00,NaN,B6,223,N607JB,JFK,LAX,NaN,2475,9,21,01-11-2013 09:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319711,2013,9,12,15:10:00,14:50:00,20,NaN,16:45:00,NaN,MQ,3588,N522MQ,LGA,MSP,NaN,1020,14,50,12-09-2013 14:00
319716,2013,9,12,15:13:00,14:55:00,18,NaN,16:30:00,NaN,MQ,3231,N642MQ,JFK,PIT,NaN,340,14,55,12-09-2013 14:00
319723,2013,9,12,15:24:00,14:20:00,64,NaN,15:42:00,NaN,EV,4171,N13995,EWR,MSN,NaN,799,14,20,12-09-2013 14:00
319724,2013,9,12,15:25:00,13:16:00,129,NaN,15:14:00,NaN,EV,4381,N13538,EWR,DTW,NaN,488,13,16,12-09-2013 13:00
319725,2013,9,12,15:28:00,14:40:00,48,NaN,16:40:00,NaN,DL,1231,N319NB,LGA,DTW,NaN,502,14,40,12-09-2013 14:00
319732,2013,9,12,15:34:00,14:50:00,44,NaN,16:37:00,NaN,EV,5675,N13123,EWR,CMH,NaN,463,14,50,12-09-2013 14:00
319740,2013,9,12,15:43:00,15:28:00,15,NaN,17:37:00,NaN,EV,4181,N12175,EWR,MCI,NaN,1092,15,28,12-09-2013 15:00
319748,2013,9,12,15:50:00,14:46:00,64,NaN,16:27:00,NaN,EV,4596,N26549,EWR,STL,NaN,872,14,46,12-09-2013 14:00
319753,2013,9,12,15:57:00,15:29:00,28,NaN,17:42:00,NaN,EV,4684,N14977,EWR,SDF,NaN,642,15,29,12-09-2013 15:00
319754,2013,9,12,15:57:00,15:20:00,37,NaN,17:40:00,NaN,MQ,3532,N806MQ,LGA,XNA,NaN,1147,15,20,12-09-2013 15:00
319755,2013,9,12,15:58:00,16:00:00,-2,NaN,17:44:00,NaN,9E,3357,N921XJ,LGA,BNA,NaN,764,16,0,12-09-2013 16:00
319756,2013,9,12,15:59:00,15:10:00,49,NaN,17:35:00,NaN,MQ,3202,N601MQ,JFK,IND,NaN,665,15,10,12-09-2013 15:00
319759,2013,9,12,16:02:00,15:45:00,17,NaN,17:05:00,NaN,AA,256,N3CTAA,JFK,BOS,NaN,187,15,45,12-09-2013 15:00
319763,2013,9,12,16:13:00,15:30:00,43,NaN,16:45:00,NaN,WN,1350,N387SW,EWR,MDW,NaN,711,15,30,12-09-2013 15:00
319766,2013,9,12,16:28:00,16:20:00,8,NaN,19:40:00,NaN,AA,1410,N3KXAA,LGA,MIA,NaN,1096,16,20,12-09-2013 16:00
319772,2013,9,12,16:39:00,15:55:00,44,NaN,18:05:00,NaN,MQ,3075,N678MQ,JFK,CVG,NaN,589,15,55,12-09-2013 15:00
319780,2013,9,12,16:57:00,16:59:00,-2,NaN,20:06:00,NaN,UA,1078,N76516,EWR,SAT,NaN,1569,16,59,12-09-2013 16:00
319786,2013,9,12,17:06:00,15:15:00,111,NaN,18:10:00,NaN,AA,320,N4YHAA,EWR,DFW,NaN,1372,15,15,12-09-2013 15:00
319797,2013,9,12,17:28:00,16:00:00,88,NaN,17:20:00,NaN,US,2187,N768US,LGA,DCA,NaN,214,16,0,12-09-2013 16:00
319809,2013,9,12,18:05:00,15:08:00,177,NaN,17:06:00,NaN,EV,4572,N16559,EWR,GSP,NaN,594,15,8,12-09-2013 15:00
319813,2013,9,12,18:15:00,14:23:00,232,NaN,17:09:00,NaN,UA,1695,N77518,EWR,IAH,NaN,1400,14,23,12-09-2013 14:00
319912,2013,9,12,21:25:00,18:45:00,160,NaN,20:30:00,NaN,9E,3320,N934XJ,JFK,BUF,NaN,301,18,45,12-09-2013 18:00
321000,2013,9,13,19:18:00,19:20:00,-2,NaN,20:55:00,NaN,9E,3555,N929XJ,LGA,BUF,NaN,292,19,20,13-09-2013 19:00
323001,2013,9,16,08:55:00,09:00:00,-5,NaN,10:25:00,NaN,US,2173,N768US,LGA,DCA,NaN,214,9,0,16-09-2013 09:00
325010,2013,9,18,10:01:00,10:05:00,-4,NaN,12:14:00,NaN,DL,2319,N936DL,LGA,MSP,NaN,1020,10,5,18-09-2013 10:00
328710,2013,9,22,12:44:00,12:15:00,29,NaN,14:05:00,NaN,MQ,3616,N501MQ,LGA,MSP,NaN,1020,12,15,22-09-2013 12:00
330305,2013,9,24,06:23:00,06:25:00,-2,NaN,08:00:00,NaN,MQ,3525,N735MQ,LGA,RDU,NaN,431,6,25,24-09-2013 06:00
330418,2013,9,24,08:00:00,08:00:00,0,NaN,09:33:00,NaN,UA,544,N827UA,LGA,ORD,NaN,733,8,0,24-09-2013 08:00
334177,2013,9,27,22:53:00,19:45:00,188,NaN,21:46:00,NaN,EV,5306,N605QX,LGA,GSO,NaN,461,19,45,27-09-2013 19:00
335805,2013,9,30,05:59:00,06:00:00,-1,NaN,07:15:00,NaN,WN,464,N411WN,EWR,MDW,NaN,711,6,0,30-09-2013 06:00

* Fill 458 NaN values in arr_time :

In [17]:
fdata['sched_diff'] =pd.DataFrame(fdata["sched_arr_time"]-fdata["sched_dep_time"])
arr_time_new = fdata["dep_time"]+ fdata['sched_diff']
fdata['arr_time'].fillna(arr_time_new,inplace=True)

In [18]:
fdata.isnull().sum()

year                 0
month                0
day                  0
dep_time             0
sched_dep_time       0
dep_delay            0
arr_time             0
sched_arr_time       0
arr_delay         1175
carrier              0
flight               0
tailnum              0
origin               0
dest                 0
air_time          1175
distance             0
hour                 0
minute               0
time_hour            0
sched_diff           0
dtype: int64

* Use TimeDelta for departure and arrival time columns :

In [19]:
fdata["arr_time"]= pd.to_numeric(fdata['arr_time']).astype(np.int64).apply(lambda x: '{0:0>4}'.format(x))
fdata["arr_time"]= pd.to_timedelta(fdata["arr_time"].str[:2]+":"+fdata["arr_time"].str[-2:]+":00")

In [20]:
fdata['arr_delay_na'] =pd.DataFrame(fdata["arr_time"]-fdata["sched_arr_time"])
fdata['arr_delay'].fillna(fdata['arr_delay_na'],inplace=True)

In [21]:
fdata.isnull().sum()

year                 0
month                0
day                  0
dep_time             0
sched_dep_time       0
dep_delay            0
arr_time             0
sched_arr_time       0
arr_delay            0
carrier              0
flight               0
tailnum              0
origin               0
dest                 0
air_time          1175
distance             0
hour                 0
minute               0
time_hour            0
sched_diff           0
arr_delay_na         0
dtype: int64

# ---------------------------------------------------

#  Exploration ideas : 
# 1.  Departure Delays

In [22]:
len(fdata[fdata.dep_delay>0])

128432

In [23]:
fdata['fdate'] = fdata['year'].astype(str) + "/" + fdata['month'].astype(str) + "/" + fdata['day'].astype(str)

delay_count= pd.DataFrame(fdata[fdata.dep_delay>0].groupby('fdate')[['dep_delay']].count())
delay_count.loc[delay_count['dep_delay'].idxmax()]

dep_delay    674
Name: 2013/12/23, dtype: int64

# 2. Best airport in terms of time departure %

In [24]:
flight_count=pd.DataFrame(fdata.groupby("origin")[["year"]].count())

In [25]:
delay_flights = pd.DataFrame(fdata[fdata.dep_delay>0].groupby('origin')[['dep_delay']].count())

delay_flights.loc[delay_flights['dep_delay'].idxmax()]

dep_delay    52711
Name: EWR, dtype: int64

# 3. Aircraft speed analysis

In [26]:
fdata['flight_speed_Col'] = fdata.distance/(fdata.air_time/60)
flight_speed =pd.DataFrame(fdata.groupby("flight")[["flight_speed_Col"]].count())

In [27]:
flight_speed.loc[flight_speed['flight_speed_Col'].idxmax()]

flight_speed_Col    956
Name: 15, dtype: int64

# 4. On time arrival % analysis

In [28]:
ontime_flights=pd.DataFrame(fdata[fdata.dep_delay<=0].groupby("origin")[["dep_delay"]].count())
ontime_flights.loc[ontime_flights['dep_delay'].idxmax()]

dep_delay    67819
Name: LGA, dtype: int64

# 5. Maximum number of flights headed to some perticular destination

In [29]:
dest_count=pd.DataFrame(fdata.groupby("dest")[["dest"]].count())

dest_count.loc[dest_count['dest'].idxmax()]

dest    16898
Name: ATL, dtype: int64