In [63]:
import pandas as pd
import numpy as np

In [66]:
fdata = pd.read_csv('flight_data.csv')
fdata.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,01-01-2013 05:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,01-01-2013 05:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,01-01-2013 05:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,01-01-2013 05:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,01-01-2013 06:00

In [67]:
fdata.dtypes

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

# Note :
1. If a column contains numbers and NaNs pandas will default to float64, in case your missing value has a decimal.
2. This means that our flight_dataset contains null values and we need to remove them

# How to Check Null Values in Dataset ? : 

[Ref Link https://chartio.com/resources/tutorials/how-to-check-if-any-value-is-nan-in-a-pandas-dataframe/ ]

In [60]:
len(fdata)

336776

In [95]:
fdata.isnull().count()

year              336776
month             336776
day               336776
dep_time          328521
sched_dep_time    336776
dep_delay         328521
arr_time          328063
sched_arr_time    336776
arr_delay         327346
carrier           336776
flight            336776
tailnum           334264
origin            336776
dest              336776
air_time          327346
distance          336776
hour              336776
minute            336776
time_hour         336776
dtype: int64

In [99]:
fdata.count()

year              336776
month             336776
day               336776
dep_time          328521
sched_dep_time    336776
dep_delay         328521
arr_time          328063
sched_arr_time    336776
arr_delay         327346
carrier           336776
flight            336776
tailnum           334264
origin            336776
dest              336776
air_time          327346
distance          336776
hour              336776
minute            336776
time_hour         336776
dtype: int64

In [98]:
fdata.isnull().sum()

year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

# Check NAN  with Faster Method :

In [110]:
%timeit fdata.isnull().sum().sum()

158 ms ± 13.9 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [111]:
%timeit fdata.isnull().any().any()

153 ms ± 10.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [112]:
%timeit fdata.isnull().values.sum()

96.9 ms ± 9.25 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [113]:
%timeit fdata.isnull().values.any()

82.6 ms ± 5.79 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [92]:
fdata.isnull().any().any()

True

In [101]:
fdata.isnull().values.sum()

46595

In [103]:
fdata.isnull().sum().sum()

46595

In [94]:
fdata.isnull().values.any()

True

# Which Data Column Contains Null/ NAN Values ? :

In [116]:
fdata.isnull().count

<bound method DataFrame.count of          year  month    day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       False  False  False     False           False      False     False
1       False  False  False     False           False      False     False
2       False  False  False     False           False      False     False
3       False  False  False     False           False      False     False
4       False  False  False     False           False      False     False
5       False  False  False     False           False      False     False
6       False  False  False     False           False      False     False
7       False  False  False     False           False      False     False
8       False  False  False     False           False      False     False
9       False  False  False     False           False      False     False
10      False  False  False     False           False      False     False
11      False  False  False     False           False      False     False
12      False  False  False     False           False      False     False
13      False  False  False     False           False      False     False
14      False  False  False     False           False      False     False
15      False  False  False     False           False      False     False
16      False  False  False     False           False      False     False
17      False  False  False     False           False      False     False
18      False  False  False     False           False      False     False
19      False  False  False     False           False      False     False
20      False  False  False     False           False      False     False
21      False  False  False     False           False      False     False
22      False  False  False     False           False      False     False
23      False  False  False     False           False      False     False
24      False  False  False     False           False      False     False
25      False  False  False     False           False      False     False
26      False  False  False     False           False      False     False
27      False  False  False     False           False      False     False
28      False  False  False     False           False      False     False
29      False  False  False     False           False      False     False
...       ...    ...    ...       ...             ...        ...       ...
336746  False  False  False     False           False      False     False
336747  False  False  False     False           False      False     False
336748  False  False  False     False           False      False     False
336749  False  False  False     False           False      False     False
336750  False  False  False     False           False      False     False
336751  False  False  False     False           False      False     False
336752  False  False  False     False           False      False     False
336753  False  False  False     False           False      False     False
336754  False  False  False     False           False      False     False
336755  False  False  False     False           False      False     False
336756  False  False  False     False           False      False     False
336757  False  False  False     False           False      False     False
336758  False  False  False     False           False      False     False
336759  False  False  False     False           False      False     False
336760  False  False  False     False           False      False     False
336761  False  False  False     False           False      False     False
336762  False  False  False     False           False      False     False
336763  False  False  False     False           False      False     False
336764  False  False  False     False           False      False     False
336765  False  False  False     False           False      False     False
336766  False  False  False     False           False      False     False
336767  False  False  False     False           False      False     False
336768  False  False  False     False           False      False     False
336769  False  False  False     False           False      False     False
336770  False  False  False      True           False       True      True
336771  False  False  False      True           False       True      True
336772  False  False  False      True           False       True      True
336773  False  False  False      True           False       True      True
336774  False  False  False      True           False       True      True
336775  False  False  False      True           False       True      True

        sched_arr_time  arr_delay  carrier  flight  tailnum  origin   dest  \
0                False      False    False   False    False   False  False
1                False      False    False   False    False   False  False
2                False      False    False   False    False   False  False
3                False      False    False   False    False   False  False
4                False      False    False   False    False   False  False
5                False      False    False   False    False   False  False
6                False      False    False   False    False   False  False
7                False      False    False   False    False   False  False
8                False      False    False   False    False   False  False
9                False      False    False   False    False   False  False
10               False      False    False   False    False   False  False
11               False      False    False   False    False   False  False
12               False      False    False   False    False   False  False
13               False      False    False   False    False   False  False
14               False      False    False   False    False   False  False
15               False      False    False   False    False   False  False
16               False      False    False   False    False   False  False
17               False      False    False   False    False   False  False
18               False      False    False   False    False   False  False
19               False      False    False   False    False   False  False
20               False      False    False   False    False   False  False
21               False      False    False   False    False   False  False
22               False      False    False   False    False   False  False
23               False      False    False   False    False   False  False
24               False      False    False   False    False   False  False
25               False      False    False   False    False   False  False
26               False      False    False   False    False   False  False
27               False      False    False   False    False   False  False
28               False      False    False   False    False   False  False
29               False      False    False   False    False   False  False
...                ...        ...      ...     ...      ...     ...    ...
336746           False      False    False   False    False   False  False
336747           False      False    False   False    False   False  False
336748           False      False    False   False    False   False  False
336749           False      False    False   False    False   False  False
336750           False      False    False   False    False   False  False
336751           False      False    False   False    False   False  False
336752           False      False    False   False    False   False  False
336753           False      False    False   False    False   False  False
336754           False      False    False   False    False   False  False
336755           False      False    False   False    False   False  False
336756           False      False    False   False    False   False  False
336757           False      False    False   False    False   False  False
336758           False      False    False   False    False   False  False
336759           False      False    False   False    False   False  False
336760           False      False    False   False    False   False  False
336761           False      False    False   False    False   False  False
336762           False      False    False   False    False   False  False
336763           False      False    False   False    False   False  False
336764           False      False    False   False    False   False  False
336765           False      False    False   False    False   False  False
336766           False      False    False   False    False   False  False
336767           False      False    False   False    False   False  False
336768           False      False    False   False    False   False  False
336769           False      False    False   False    False   False  False
336770           False       True    False   False    False   False  False
336771           False       True    False   False     True   False  False
336772           False       True    False   False     True   False  False
336773           False       True    False   False    False   False  False
336774           False       True    False   False    False   False  False
336775           False       True    False   False    False   False  False

        air_time  distance   hour  minute  time_hour
0          False     False  False   False      False
1          False     False  False   False      False
2          False     False  False   False      False
3          False     False  False   False      False
4          False     False  False   False      False
5          False     False  False   False      False
6          False     False  False   False      False
7          False     False  False   False      False
8          False     False  False   False      False
9          False     False  False   False      False
10         False     False  False   False      False
11         False     False  False   False      False
12         False     False  False   False      False
13         False     False  False   False      False
14         False     False  False   False      False
15         False     False  False   False      False
16         False     False  False   False      False
17         False     False  False   False      False
18         False     False  False   False      False
19         False     False  False   False      False
20         False     False  False   False      False
21         False     False  False   False      False
22         False     False  False   False      False
23         False     False  False   False      False
24         False     False  False   False      False
25         False     False  False   False      False
26         False     False  False   False      False
27         False     False  False   False      False
28         False     False  False   False      False
29         False     False  False   False      False
...          ...       ...    ...     ...        ...
336746     False     False  False   False      False
336747     False     False  False   False      False
336748     False     False  False   False      False
336749     False     False  False   False      False
336750     False     False  False   False      False
336751     False     False  False   False      False
336752     False     False  False   False      False
336753     False     False  False   False      False
336754     False     False  False   False      False
336755     False     False  False   False      False
336756     False     False  False   False      False
336757     False     False  False   False      False
336758     False     False  False   False      False
336759     False     False  False   False      False
336760     False     False  False   False      False
336761     False     False  False   False      False
336762     False     False  False   False      False
336763     False     False  False   False      False
336764     False     False  False   False      False
336765     False     False  False   False      False
336766     False     False  False   False      False
336767     False     False  False   False      False
336768     False     False  False   False      False
336769     False     False  False   False      False
336770      True     False  False   False      False
336771      True     False  False   False      False
336772      True     False  False   False      False
336773      True     False  False   False      False
336774      True     False  False   False      False
336775      True     False  False   False      False

[336776 rows x 19 columns]>

# How to convert Float Values to int and Remove NaN :

In [117]:

fdata.dtypes

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

In [118]:
dep_time = fdata['dep_time'].astype(np.int64)

ValueError: Cannot convert non-finite values (NA or inf) to integer