In [1]:
import pandas as pd
import numpy as np

In [2]:
fdata = pd.read_csv('flight_data.csv')
fdata.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,01-01-2013 05:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,01-01-2013 05:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,01-01-2013 05:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,01-01-2013 05:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,01-01-2013 06:00

In [3]:
fdata.dtypes

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

In [4]:
fdata.count

<bound method DataFrame.count of         year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       2013      1    1     517.0             515        2.0     830.0
1       2013      1    1     533.0             529        4.0     850.0
2       2013      1    1     542.0             540        2.0     923.0
3       2013      1    1     544.0             545       -1.0    1004.0
4       2013      1    1     554.0             600       -6.0     812.0
5       2013      1    1     554.0             558       -4.0     740.0
6       2013      1    1     555.0             600       -5.0     913.0
7       2013      1    1     557.0             600       -3.0     709.0
8       2013      1    1     557.0             600       -3.0     838.0
9       2013      1    1     558.0             600       -2.0     753.0
10      2013      1    1     558.0             600       -2.0     849.0
11      2013      1    1     558.0             600       -2.0     853.0
12      2013      1    1     558.0             600       -2.0     924.0
13      2013      1    1     558.0             600       -2.0     923.0
14      2013      1    1     559.0             600       -1.0     941.0
15      2013      1    1     559.0             559        0.0     702.0
16      2013      1    1     559.0             600       -1.0     854.0
17      2013      1    1     600.0             600        0.0     851.0
18      2013      1    1     600.0             600        0.0     837.0
19      2013      1    1     601.0             600        1.0     844.0
20      2013      1    1     602.0             610       -8.0     812.0
21      2013      1    1     602.0             605       -3.0     821.0
22      2013      1    1     606.0             610       -4.0     858.0
23      2013      1    1     606.0             610       -4.0     837.0
24      2013      1    1     607.0             607        0.0     858.0
25      2013      1    1     608.0             600        8.0     807.0
26      2013      1    1     611.0             600       11.0     945.0
27      2013      1    1     613.0             610        3.0     925.0
28      2013      1    1     615.0             615        0.0    1039.0
29      2013      1    1     615.0             615        0.0     833.0
...      ...    ...  ...       ...             ...        ...       ...
336746  2013      9   30    2123.0            2125       -2.0    2223.0
336747  2013      9   30    2127.0            2129       -2.0    2314.0
336748  2013      9   30    2128.0            2130       -2.0    2328.0
336749  2013      9   30    2129.0            2059       30.0    2230.0
336750  2013      9   30    2131.0            2140       -9.0    2225.0
336751  2013      9   30    2140.0            2140        0.0      10.0
336752  2013      9   30    2142.0            2129       13.0    2250.0
336753  2013      9   30    2145.0            2145        0.0     115.0
336754  2013      9   30    2147.0            2137       10.0      30.0
336755  2013      9   30    2149.0            2156       -7.0    2245.0
336756  2013      9   30    2150.0            2159       -9.0    2250.0
336757  2013      9   30    2159.0            1845      194.0    2344.0
336758  2013      9   30    2203.0            2205       -2.0    2339.0
336759  2013      9   30    2207.0            2140       27.0    2257.0
336760  2013      9   30    2211.0            2059       72.0    2339.0
336761  2013      9   30    2231.0            2245      -14.0    2335.0
336762  2013      9   30    2233.0            2113       80.0     112.0
336763  2013      9   30    2235.0            2001      154.0      59.0
336764  2013      9   30    2237.0            2245       -8.0    2345.0
336765  2013      9   30    2240.0            2245       -5.0    2334.0
336766  2013      9   30    2240.0            2250      -10.0    2347.0
336767  2013      9   30    2241.0            2246       -5.0    2345.0
336768  2013      9   30    2307.0            2255       12.0    2359.0
336769  2013      9   30    2349.0            2359      -10.0     325.0
336770  2013      9   30       NaN            1842        NaN       NaN
336771  2013      9   30       NaN            1455        NaN       NaN
336772  2013      9   30       NaN            2200        NaN       NaN
336773  2013      9   30       NaN            1210        NaN       NaN
336774  2013      9   30       NaN            1159        NaN       NaN
336775  2013      9   30       NaN             840        NaN       NaN

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0                  819       11.0      UA    1545  N14228    EWR  IAH
1                  830       20.0      UA    1714  N24211    LGA  IAH
2                  850       33.0      AA    1141  N619AA    JFK  MIA
3                 1022      -18.0      B6     725  N804JB    JFK  BQN
4                  837      -25.0      DL     461  N668DN    LGA  ATL
5                  728       12.0      UA    1696  N39463    EWR  ORD
6                  854       19.0      B6     507  N516JB    EWR  FLL
7                  723      -14.0      EV    5708  N829AS    LGA  IAD
8                  846       -8.0      B6      79  N593JB    JFK  MCO
9                  745        8.0      AA     301  N3ALAA    LGA  ORD
10                 851       -2.0      B6      49  N793JB    JFK  PBI
11                 856       -3.0      B6      71  N657JB    JFK  TPA
12                 917        7.0      UA     194  N29129    JFK  LAX
13                 937      -14.0      UA    1124  N53441    EWR  SFO
14                 910       31.0      AA     707  N3DUAA    LGA  DFW
15                 706       -4.0      B6    1806  N708JB    JFK  BOS
16                 902       -8.0      UA    1187  N76515    EWR  LAS
17                 858       -7.0      B6     371  N595JB    LGA  FLL
18                 825       12.0      MQ    4650  N542MQ    LGA  ATL
19                 850       -6.0      B6     343  N644JB    EWR  PBI
20                 820       -8.0      DL    1919  N971DL    LGA  MSP
21                 805       16.0      MQ    4401  N730MQ    LGA  DTW
22                 910      -12.0      AA    1895  N633AA    EWR  MIA
23                 845       -8.0      DL    1743  N3739P    JFK  ATL
24                 915      -17.0      UA    1077  N53442    EWR  MIA
25                 735       32.0      MQ    3768  N9EAMQ    EWR  ORD
26                 931       14.0      UA     303  N532UA    JFK  SFO
27                 921        4.0      B6     135  N635JB    JFK  RSW
28                1100      -21.0      B6     709  N794JB    JFK  SJU
29                 842       -9.0      DL     575  N326NB    EWR  ATL
...                ...        ...     ...     ...     ...    ...  ...
336746            2247      -24.0      EV    5489  N712EV    LGA  CHO
336747            2323       -9.0      EV    3833  N16546    EWR  CLT
336748            2359      -31.0      B6      97  N807JB    JFK  DEN
336749            2232       -2.0      EV    5048  N751EV    LGA  RIC
336750            2255      -30.0      MQ    3621  N807MQ    JFK  DCA
336751              40      -30.0      AA     185  N335AA    JFK  LAX
336752            2239       11.0      EV    4509  N12957    EWR  PWM
336753             140      -25.0      B6    1103  N633JB    JFK  SJU
336754              27        3.0      B6    1371  N627JB    LGA  FLL
336755            2308      -23.0      UA     523  N813UA    EWR  BOS
336756            2306      -16.0      EV    3842  N10575    EWR  MHT
336757            2030      194.0      9E    3320  N906XJ    JFK  BUF
336758            2331        8.0      EV    5311  N722EV    LGA  BGR
336759            2250        7.0      MQ    3660  N532MQ    LGA  BNA
336760            2242       57.0      EV    4672  N12145    EWR  STL
336761            2356      -21.0      B6     108  N193JB    JFK  PWM
336762              30       42.0      UA     471  N578UA    EWR  SFO
336763            2249      130.0      B6    1083  N804JB    JFK  MCO
336764            2353       -8.0      B6     234  N318JB    JFK  BTV
336765            2351      -17.0      B6    1816  N354JB    JFK  SYR
336766               7      -20.0      B6    2002  N281JB    JFK  BUF
336767               1      -16.0      B6     486  N346JB    JFK  ROC
336768            2358        1.0      B6     718  N565JB    JFK  BOS
336769             350      -25.0      B6     745  N516JB    JFK  PSE
336770            2019        NaN      EV    5274  N740EV    LGA  BNA
336771            1634        NaN      9E    3393     NaN    JFK  DCA
336772            2312        NaN      9E    3525     NaN    LGA  SYR
336773            1330        NaN      MQ    3461  N535MQ    LGA  BNA
336774            1344        NaN      MQ    3572  N511MQ    LGA  CLE
336775            1020        NaN      MQ    3531  N839MQ    LGA  RDU

        air_time  distance  hour  minute         time_hour
0          227.0      1400     5      15  01-01-2013 05:00
1          227.0      1416     5      29  01-01-2013 05:00
2          160.0      1089     5      40  01-01-2013 05:00
3          183.0      1576     5      45  01-01-2013 05:00
4          116.0       762     6       0  01-01-2013 06:00
5          150.0       719     5      58  01-01-2013 05:00
6          158.0      1065     6       0  01-01-2013 06:00
7           53.0       229     6       0  01-01-2013 06:00
8          140.0       944     6       0  01-01-2013 06:00
9          138.0       733     6       0  01-01-2013 06:00
10         149.0      1028     6       0  01-01-2013 06:00
11         158.0      1005     6       0  01-01-2013 06:00
12         345.0      2475     6       0  01-01-2013 06:00
13         361.0      2565     6       0  01-01-2013 06:00
14         257.0      1389     6       0  01-01-2013 06:00
15          44.0       187     5      59  01-01-2013 05:00
16         337.0      2227     6       0  01-01-2013 06:00
17         152.0      1076     6       0  01-01-2013 06:00
18         134.0       762     6       0  01-01-2013 06:00
19         147.0      1023     6       0  01-01-2013 06:00
20         170.0      1020     6      10  01-01-2013 06:00
21         105.0       502     6       5  01-01-2013 06:00
22         152.0      1085     6      10  01-01-2013 06:00
23         128.0       760     6      10  01-01-2013 06:00
24         157.0      1085     6       7  01-01-2013 06:00
25         139.0       719     6       0  01-01-2013 06:00
26         366.0      2586     6       0  01-01-2013 06:00
27         175.0      1074     6      10  01-01-2013 06:00
28         182.0      1598     6      15  01-01-2013 06:00
29         120.0       746     6      15  01-01-2013 06:00
...          ...       ...   ...     ...               ...
336746      45.0       305    21      25  30-09-2013 21:00
336747      72.0       529    21      29  30-09-2013 21:00
336748     213.0      1626    21      30  30-09-2013 21:00
336749      45.0       292    20      59  30-09-2013 20:00
336750      36.0       213    21      40  30-09-2013 21:00
336751     298.0      2475    21      40  30-09-2013 21:00
336752      47.0       284    21      29  30-09-2013 21:00
336753     192.0      1598    21      45  30-09-2013 21:00
336754     139.0      1076    21      37  30-09-2013 21:00
336755      37.0       200    21      56  30-09-2013 21:00
336756      39.0       209    21      59  30-09-2013 21:00
336757      50.0       301    18      45  30-09-2013 18:00
336758      61.0       378    22       5  30-09-2013 22:00
336759      97.0       764    21      40  30-09-2013 21:00
336760     120.0       872    20      59  30-09-2013 20:00
336761      48.0       273    22      45  30-09-2013 22:00
336762     318.0      2565    21      13  30-09-2013 21:00
336763     123.0       944    20       1  30-09-2013 20:00
336764      43.0       266    22      45  30-09-2013 22:00
336765      41.0       209    22      45  30-09-2013 22:00
336766      52.0       301    22      50  30-09-2013 22:00
336767      47.0       264    22      46  30-09-2013 22:00
336768      33.0       187    22      55  30-09-2013 22:00
336769     196.0      1617    23      59  30-09-2013 23:00
336770       NaN       764    18      42  30-09-2013 18:00
336771       NaN       213    14      55  30-09-2013 14:00
336772       NaN       198    22       0  30-09-2013 22:00
336773       NaN       764    12      10  30-09-2013 12:00
336774       NaN       419    11      59  30-09-2013 11:00
336775       NaN       431     8      40  30-09-2013 08:00

[336776 rows x 19 columns]>

# Note :
1. If a column contains numbers and NaNs pandas will default to float64, in case your missing value has a decimal.
2. This means that our flight_dataset may contain null values and we need to remove them

# Check Null Values in Dataset  :

Total Number of rows in Dataset :

In [8]:
fdata.isnull().count()

year              336776
month             336776
day               336776
dep_time          336776
sched_dep_time    336776
dep_delay         336776
arr_time          336776
sched_arr_time    336776
arr_delay         336776
carrier           336776
flight            336776
tailnum           336776
origin            336776
dest              336776
air_time          336776
distance          336776
hour              336776
minute            336776
time_hour         336776
dtype: int64

Does our data have null values ??

In [9]:
fdata.isnull().values.any()

True

Total Number of Null Values :

In [10]:
fdata.isnull().sum()

year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

# Analysis of Null Values:
1. All sched_dep_time & sched_arr_time of flights are available but for some flights data for actual dep_time & arr_time of flights is NOT available.
2. count of arr_time is more compared to dep_time, which means these flights were departed but dep_time data is missing. -- Need to figure out how we can calculate this?
3. Rest all flights whose arr_time & dep_time is missing we can ignore (drop) this data rows.

In [11]:
fdata['arr_time'].isnull().sum() - fdata['dep_time'].isnull().sum()

458

* There are 458 Flights for which arrival time is NOT available but departure time is available. These are valid number of flights where dep_time data is missing. -- Keep these rows

Next Find Total rows in which both dep_time & arr_time are Null (Missing)

In [12]:
len(fdata[fdata['arr_time'].isnull() & fdata['dep_time'].isnull()])

8255

* We can drop above rows

In [16]:
len(fdata)

336776

In [20]:
fdata.dropna(subset=['dep_time', 'arr_time'], how='all',inplace=True)

In [21]:
fdata.shape

(328521, 19)

#  Exploration ideas : 
# 1. <U> Departure Delays

In [25]:
fdata['dep_delay'].max()

1301.0

In [26]:
fdata[fdata['dep_delay']==fdata['dep_delay']].max()

year                          2013
month                           12
day                             31
dep_time                      2400
sched_dep_time                2359
dep_delay                     1301
arr_time                      2400
sched_arr_time                2359
arr_delay                     1272
carrier                         YV
flight                        8500
tailnum                     N9EAMQ
origin                         LGA
dest                           XNA
air_time                       695
distance                      4983
hour                            23
minute                          59
time_hour         31-12-2013 23:00
dtype: object

# Convert time into HH:MM