In [1]:
import pandas as pd
import numpy as np

In [2]:
fdata = pd.read_csv('flight_data.csv')
fdata.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,01-01-2013 05:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,01-01-2013 05:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,01-01-2013 05:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,01-01-2013 05:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,01-01-2013 06:00

In [3]:
fdata.dtypes

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

# Note :
1. If a column contains numbers and NaNs pandas will default to float64, in case your missing value has a decimal.
2. This means that our flight_dataset contains null values and we need to remove them

# How to Check Null Values in Dataset ? : 

[Ref Link https://chartio.com/resources/tutorials/how-to-check-if-any-value-is-nan-in-a-pandas-dataframe/ ]

In [32]:
len(fdata)

327346

In [33]:
fdata.info

<bound method DataFrame.info of         year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       2013      1    1       517             515          2     830.0
1       2013      1    1       533             529          4     850.0
2       2013      1    1       542             540          2     923.0
3       2013      1    1       544             545         -1    1004.0
4       2013      1    1       554             600         -6     812.0
5       2013      1    1       554             558         -4     740.0
6       2013      1    1       555             600         -5     913.0
7       2013      1    1       557             600         -3     709.0
8       2013      1    1       557             600         -3     838.0
9       2013      1    1       558             600         -2     753.0
10      2013      1    1       558             600         -2     849.0
11      2013      1    1       558             600         -2     853.0
12      2013      1    1       558             600         -2     924.0
13      2013      1    1       558             600         -2     923.0
14      2013      1    1       559             600         -1     941.0
15      2013      1    1       559             559          0     702.0
16      2013      1    1       559             600         -1     854.0
17      2013      1    1       600             600          0     851.0
18      2013      1    1       600             600          0     837.0
19      2013      1    1       601             600          1     844.0
20      2013      1    1       602             610         -8     812.0
21      2013      1    1       602             605         -3     821.0
22      2013      1    1       606             610         -4     858.0
23      2013      1    1       606             610         -4     837.0
24      2013      1    1       607             607          0     858.0
25      2013      1    1       608             600          8     807.0
26      2013      1    1       611             600         11     945.0
27      2013      1    1       613             610          3     925.0
28      2013      1    1       615             615          0    1039.0
29      2013      1    1       615             615          0     833.0
...      ...    ...  ...       ...             ...        ...       ...
336740  2013      9   30      2115            2110          5    2246.0
336741  2013      9   30      2116            2124         -8    2317.0
336742  2013      9   30      2119            2005         74    2310.0
336743  2013      9   30      2119            2120         -1    2330.0
336744  2013      9   30      2121            2100         21    2349.0
336745  2013      9   30      2122            2127         -5    2226.0
336746  2013      9   30      2123            2125         -2    2223.0
336747  2013      9   30      2127            2129         -2    2314.0
336748  2013      9   30      2128            2130         -2    2328.0
336749  2013      9   30      2129            2059         30    2230.0
336750  2013      9   30      2131            2140         -9    2225.0
336751  2013      9   30      2140            2140          0      10.0
336752  2013      9   30      2142            2129         13    2250.0
336753  2013      9   30      2145            2145          0     115.0
336754  2013      9   30      2147            2137         10      30.0
336755  2013      9   30      2149            2156         -7    2245.0
336756  2013      9   30      2150            2159         -9    2250.0
336757  2013      9   30      2159            1845        194    2344.0
336758  2013      9   30      2203            2205         -2    2339.0
336759  2013      9   30      2207            2140         27    2257.0
336760  2013      9   30      2211            2059         72    2339.0
336761  2013      9   30      2231            2245        -14    2335.0
336762  2013      9   30      2233            2113         80     112.0
336763  2013      9   30      2235            2001        154      59.0
336764  2013      9   30      2237            2245         -8    2345.0
336765  2013      9   30      2240            2245         -5    2334.0
336766  2013      9   30      2240            2250        -10    2347.0
336767  2013      9   30      2241            2246         -5    2345.0
336768  2013      9   30      2307            2255         12    2359.0
336769  2013      9   30      2349            2359        -10     325.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0                  819       11.0      UA    1545  N14228    EWR  IAH
1                  830       20.0      UA    1714  N24211    LGA  IAH
2                  850       33.0      AA    1141  N619AA    JFK  MIA
3                 1022      -18.0      B6     725  N804JB    JFK  BQN
4                  837      -25.0      DL     461  N668DN    LGA  ATL
5                  728       12.0      UA    1696  N39463    EWR  ORD
6                  854       19.0      B6     507  N516JB    EWR  FLL
7                  723      -14.0      EV    5708  N829AS    LGA  IAD
8                  846       -8.0      B6      79  N593JB    JFK  MCO
9                  745        8.0      AA     301  N3ALAA    LGA  ORD
10                 851       -2.0      B6      49  N793JB    JFK  PBI
11                 856       -3.0      B6      71  N657JB    JFK  TPA
12                 917        7.0      UA     194  N29129    JFK  LAX
13                 937      -14.0      UA    1124  N53441    EWR  SFO
14                 910       31.0      AA     707  N3DUAA    LGA  DFW
15                 706       -4.0      B6    1806  N708JB    JFK  BOS
16                 902       -8.0      UA    1187  N76515    EWR  LAS
17                 858       -7.0      B6     371  N595JB    LGA  FLL
18                 825       12.0      MQ    4650  N542MQ    LGA  ATL
19                 850       -6.0      B6     343  N644JB    EWR  PBI
20                 820       -8.0      DL    1919  N971DL    LGA  MSP
21                 805       16.0      MQ    4401  N730MQ    LGA  DTW
22                 910      -12.0      AA    1895  N633AA    EWR  MIA
23                 845       -8.0      DL    1743  N3739P    JFK  ATL
24                 915      -17.0      UA    1077  N53442    EWR  MIA
25                 735       32.0      MQ    3768  N9EAMQ    EWR  ORD
26                 931       14.0      UA     303  N532UA    JFK  SFO
27                 921        4.0      B6     135  N635JB    JFK  RSW
28                1100      -21.0      B6     709  N794JB    JFK  SJU
29                 842       -9.0      DL     575  N326NB    EWR  ATL
...                ...        ...     ...     ...     ...    ...  ...
336740            2255       -9.0      MQ    3603  N519MQ    LGA  DTW
336741            2337      -20.0      EV    4682  N14542    EWR  SDF
336742            2212       58.0      EV    4321  N17984    EWR  MCI
336743            2354      -24.0      B6    1677  N358JB    JFK  JAX
336744              14      -25.0      DL    2363  N193DN    JFK  LAX
336745            2237      -11.0      EV    4372  N14902    EWR  DCA
336746            2247      -24.0      EV    5489  N712EV    LGA  CHO
336747            2323       -9.0      EV    3833  N16546    EWR  CLT
336748            2359      -31.0      B6      97  N807JB    JFK  DEN
336749            2232       -2.0      EV    5048  N751EV    LGA  RIC
336750            2255      -30.0      MQ    3621  N807MQ    JFK  DCA
336751              40      -30.0      AA     185  N335AA    JFK  LAX
336752            2239       11.0      EV    4509  N12957    EWR  PWM
336753             140      -25.0      B6    1103  N633JB    JFK  SJU
336754              27        3.0      B6    1371  N627JB    LGA  FLL
336755            2308      -23.0      UA     523  N813UA    EWR  BOS
336756            2306      -16.0      EV    3842  N10575    EWR  MHT
336757            2030      194.0      9E    3320  N906XJ    JFK  BUF
336758            2331        8.0      EV    5311  N722EV    LGA  BGR
336759            2250        7.0      MQ    3660  N532MQ    LGA  BNA
336760            2242       57.0      EV    4672  N12145    EWR  STL
336761            2356      -21.0      B6     108  N193JB    JFK  PWM
336762              30       42.0      UA     471  N578UA    EWR  SFO
336763            2249      130.0      B6    1083  N804JB    JFK  MCO
336764            2353       -8.0      B6     234  N318JB    JFK  BTV
336765            2351      -17.0      B6    1816  N354JB    JFK  SYR
336766               7      -20.0      B6    2002  N281JB    JFK  BUF
336767               1      -16.0      B6     486  N346JB    JFK  ROC
336768            2358        1.0      B6     718  N565JB    JFK  BOS
336769             350      -25.0      B6     745  N516JB    JFK  PSE

        air_time  distance  hour  minute         time_hour
0          227.0      1400     5      15  01-01-2013 05:00
1          227.0      1416     5      29  01-01-2013 05:00
2          160.0      1089     5      40  01-01-2013 05:00
3          183.0      1576     5      45  01-01-2013 05:00
4          116.0       762     6       0  01-01-2013 06:00
5          150.0       719     5      58  01-01-2013 05:00
6          158.0      1065     6       0  01-01-2013 06:00
7           53.0       229     6       0  01-01-2013 06:00
8          140.0       944     6       0  01-01-2013 06:00
9          138.0       733     6       0  01-01-2013 06:00
10         149.0      1028     6       0  01-01-2013 06:00
11         158.0      1005     6       0  01-01-2013 06:00
12         345.0      2475     6       0  01-01-2013 06:00
13         361.0      2565     6       0  01-01-2013 06:00
14         257.0      1389     6       0  01-01-2013 06:00
15          44.0       187     5      59  01-01-2013 05:00
16         337.0      2227     6       0  01-01-2013 06:00
17         152.0      1076     6       0  01-01-2013 06:00
18         134.0       762     6       0  01-01-2013 06:00
19         147.0      1023     6       0  01-01-2013 06:00
20         170.0      1020     6      10  01-01-2013 06:00
21         105.0       502     6       5  01-01-2013 06:00
22         152.0      1085     6      10  01-01-2013 06:00
23         128.0       760     6      10  01-01-2013 06:00
24         157.0      1085     6       7  01-01-2013 06:00
25         139.0       719     6       0  01-01-2013 06:00
26         366.0      2586     6       0  01-01-2013 06:00
27         175.0      1074     6      10  01-01-2013 06:00
28         182.0      1598     6      15  01-01-2013 06:00
29         120.0       746     6      15  01-01-2013 06:00
...          ...       ...   ...     ...               ...
336740      72.0       502    21      10  30-09-2013 21:00
336741      94.0       642    21      24  30-09-2013 21:00
336742     147.0      1092    20       5  30-09-2013 20:00
336743     113.0       828    21      20  30-09-2013 21:00
336744     296.0      2475    21       0  30-09-2013 21:00
336745      35.0       199    21      27  30-09-2013 21:00
336746      45.0       305    21      25  30-09-2013 21:00
336747      72.0       529    21      29  30-09-2013 21:00
336748     213.0      1626    21      30  30-09-2013 21:00
336749      45.0       292    20      59  30-09-2013 20:00
336750      36.0       213    21      40  30-09-2013 21:00
336751     298.0      2475    21      40  30-09-2013 21:00
336752      47.0       284    21      29  30-09-2013 21:00
336753     192.0      1598    21      45  30-09-2013 21:00
336754     139.0      1076    21      37  30-09-2013 21:00
336755      37.0       200    21      56  30-09-2013 21:00
336756      39.0       209    21      59  30-09-2013 21:00
336757      50.0       301    18      45  30-09-2013 18:00
336758      61.0       378    22       5  30-09-2013 22:00
336759      97.0       764    21      40  30-09-2013 21:00
336760     120.0       872    20      59  30-09-2013 20:00
336761      48.0       273    22      45  30-09-2013 22:00
336762     318.0      2565    21      13  30-09-2013 21:00
336763     123.0       944    20       1  30-09-2013 20:00
336764      43.0       266    22      45  30-09-2013 22:00
336765      41.0       209    22      45  30-09-2013 22:00
336766      52.0       301    22      50  30-09-2013 22:00
336767      47.0       264    22      46  30-09-2013 22:00
336768      33.0       187    22      55  30-09-2013 22:00
336769     196.0      1617    23      59  30-09-2013 23:00

[327346 rows x 19 columns]>

In [5]:
fdata.isnull().count()

year              336776
month             336776
day               336776
dep_time          336776
sched_dep_time    336776
dep_delay         336776
arr_time          336776
sched_arr_time    336776
arr_delay         336776
carrier           336776
flight            336776
tailnum           336776
origin            336776
dest              336776
air_time          336776
distance          336776
hour              336776
minute            336776
time_hour         336776
dtype: int64

In [6]:
fdata.count()

year              336776
month             336776
day               336776
dep_time          328521
sched_dep_time    336776
dep_delay         328521
arr_time          328063
sched_arr_time    336776
arr_delay         327346
carrier           336776
flight            336776
tailnum           334264
origin            336776
dest              336776
air_time          327346
distance          336776
hour              336776
minute            336776
time_hour         336776
dtype: int64

In [7]:
fdata.isnull().sum()

year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

# Check NAN  with Faster Method :

In [8]:
%timeit fdata.isnull().sum().sum()

206 ms ± 2.12 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [9]:
%timeit fdata.isnull().any().any()

182 ms ± 1.25 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [10]:
%timeit fdata.isnull().values.sum()

103 ms ± 424 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [11]:
%timeit fdata.isnull().values.any()

97 ms ± 2.36 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [12]:
fdata.isnull().any().any()

True

In [13]:
fdata.isnull().values.sum()

46595

In [14]:
fdata.isnull().sum().sum()

46595

In [15]:
fdata.isnull().values.any()

True

# Which Data Column Contains Null/ NAN Values ? :

In [16]:
fdata.isnull().count

<bound method DataFrame.count of          year  month    day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       False  False  False     False           False      False     False
1       False  False  False     False           False      False     False
2       False  False  False     False           False      False     False
3       False  False  False     False           False      False     False
4       False  False  False     False           False      False     False
5       False  False  False     False           False      False     False
6       False  False  False     False           False      False     False
7       False  False  False     False           False      False     False
8       False  False  False     False           False      False     False
9       False  False  False     False           False      False     False
10      False  False  False     False           False      False     False
11      False  False  False     False           False      False     False
12      False  False  False     False           False      False     False
13      False  False  False     False           False      False     False
14      False  False  False     False           False      False     False
15      False  False  False     False           False      False     False
16      False  False  False     False           False      False     False
17      False  False  False     False           False      False     False
18      False  False  False     False           False      False     False
19      False  False  False     False           False      False     False
20      False  False  False     False           False      False     False
21      False  False  False     False           False      False     False
22      False  False  False     False           False      False     False
23      False  False  False     False           False      False     False
24      False  False  False     False           False      False     False
25      False  False  False     False           False      False     False
26      False  False  False     False           False      False     False
27      False  False  False     False           False      False     False
28      False  False  False     False           False      False     False
29      False  False  False     False           False      False     False
...       ...    ...    ...       ...             ...        ...       ...
336746  False  False  False     False           False      False     False
336747  False  False  False     False           False      False     False
336748  False  False  False     False           False      False     False
336749  False  False  False     False           False      False     False
336750  False  False  False     False           False      False     False
336751  False  False  False     False           False      False     False
336752  False  False  False     False           False      False     False
336753  False  False  False     False           False      False     False
336754  False  False  False     False           False      False     False
336755  False  False  False     False           False      False     False
336756  False  False  False     False           False      False     False
336757  False  False  False     False           False      False     False
336758  False  False  False     False           False      False     False
336759  False  False  False     False           False      False     False
336760  False  False  False     False           False      False     False
336761  False  False  False     False           False      False     False
336762  False  False  False     False           False      False     False
336763  False  False  False     False           False      False     False
336764  False  False  False     False           False      False     False
336765  False  False  False     False           False      False     False
336766  False  False  False     False           False      False     False
336767  False  False  False     False           False      False     False
336768  False  False  False     False           False      False     False
336769  False  False  False     False           False      False     False
336770  False  False  False      True           False       True      True
336771  False  False  False      True           False       True      True
336772  False  False  False      True           False       True      True
336773  False  False  False      True           False       True      True
336774  False  False  False      True           False       True      True
336775  False  False  False      True           False       True      True

        sched_arr_time  arr_delay  carrier  flight  tailnum  origin   dest  \
0                False      False    False   False    False   False  False
1                False      False    False   False    False   False  False
2                False      False    False   False    False   False  False
3                False      False    False   False    False   False  False
4                False      False    False   False    False   False  False
5                False      False    False   False    False   False  False
6                False      False    False   False    False   False  False
7                False      False    False   False    False   False  False
8                False      False    False   False    False   False  False
9                False      False    False   False    False   False  False
10               False      False    False   False    False   False  False
11               False      False    False   False    False   False  False
12               False      False    False   False    False   False  False
13               False      False    False   False    False   False  False
14               False      False    False   False    False   False  False
15               False      False    False   False    False   False  False
16               False      False    False   False    False   False  False
17               False      False    False   False    False   False  False
18               False      False    False   False    False   False  False
19               False      False    False   False    False   False  False
20               False      False    False   False    False   False  False
21               False      False    False   False    False   False  False
22               False      False    False   False    False   False  False
23               False      False    False   False    False   False  False
24               False      False    False   False    False   False  False
25               False      False    False   False    False   False  False
26               False      False    False   False    False   False  False
27               False      False    False   False    False   False  False
28               False      False    False   False    False   False  False
29               False      False    False   False    False   False  False
...                ...        ...      ...     ...      ...     ...    ...
336746           False      False    False   False    False   False  False
336747           False      False    False   False    False   False  False
336748           False      False    False   False    False   False  False
336749           False      False    False   False    False   False  False
336750           False      False    False   False    False   False  False
336751           False      False    False   False    False   False  False
336752           False      False    False   False    False   False  False
336753           False      False    False   False    False   False  False
336754           False      False    False   False    False   False  False
336755           False      False    False   False    False   False  False
336756           False      False    False   False    False   False  False
336757           False      False    False   False    False   False  False
336758           False      False    False   False    False   False  False
336759           False      False    False   False    False   False  False
336760           False      False    False   False    False   False  False
336761           False      False    False   False    False   False  False
336762           False      False    False   False    False   False  False
336763           False      False    False   False    False   False  False
336764           False      False    False   False    False   False  False
336765           False      False    False   False    False   False  False
336766           False      False    False   False    False   False  False
336767           False      False    False   False    False   False  False
336768           False      False    False   False    False   False  False
336769           False      False    False   False    False   False  False
336770           False       True    False   False    False   False  False
336771           False       True    False   False     True   False  False
336772           False       True    False   False     True   False  False
336773           False       True    False   False    False   False  False
336774           False       True    False   False    False   False  False
336775           False       True    False   False    False   False  False

        air_time  distance   hour  minute  time_hour
0          False     False  False   False      False
1          False     False  False   False      False
2          False     False  False   False      False
3          False     False  False   False      False
4          False     False  False   False      False
5          False     False  False   False      False
6          False     False  False   False      False
7          False     False  False   False      False
8          False     False  False   False      False
9          False     False  False   False      False
10         False     False  False   False      False
11         False     False  False   False      False
12         False     False  False   False      False
13         False     False  False   False      False
14         False     False  False   False      False
15         False     False  False   False      False
16         False     False  False   False      False
17         False     False  False   False      False
18         False     False  False   False      False
19         False     False  False   False      False
20         False     False  False   False      False
21         False     False  False   False      False
22         False     False  False   False      False
23         False     False  False   False      False
24         False     False  False   False      False
25         False     False  False   False      False
26         False     False  False   False      False
27         False     False  False   False      False
28         False     False  False   False      False
29         False     False  False   False      False
...          ...       ...    ...     ...        ...
336746     False     False  False   False      False
336747     False     False  False   False      False
336748     False     False  False   False      False
336749     False     False  False   False      False
336750     False     False  False   False      False
336751     False     False  False   False      False
336752     False     False  False   False      False
336753     False     False  False   False      False
336754     False     False  False   False      False
336755     False     False  False   False      False
336756     False     False  False   False      False
336757     False     False  False   False      False
336758     False     False  False   False      False
336759     False     False  False   False      False
336760     False     False  False   False      False
336761     False     False  False   False      False
336762     False     False  False   False      False
336763     False     False  False   False      False
336764     False     False  False   False      False
336765     False     False  False   False      False
336766     False     False  False   False      False
336767     False     False  False   False      False
336768     False     False  False   False      False
336769     False     False  False   False      False
336770      True     False  False   False      False
336771      True     False  False   False      False
336772      True     False  False   False      False
336773      True     False  False   False      False
336774      True     False  False   False      False
336775      True     False  False   False      False

[336776 rows x 19 columns]>

# How to convert Float Values to int and Remove NaN :

In [17]:

fdata.dtypes

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

In [18]:
dep_time = fdata['dep_time'].astype(np.int64)

ValueError: Cannot convert non-finite values (NA or inf) to integer

# Drop all rows which contains NaN Value in any cell

In [19]:
fdata = fdata.dropna(axis=0, how='any')

In [20]:
fdata.shape

(327346, 19)

<b> Q: Is it affordable to drop these many rows (with NaN values in some columns) from Dataset ? If yes then proceed or else think can we do ? fillna --> Give it a Try

#  Exploration ideas : 
# 1. <U> Departure Delays

In [23]:
fdata.dtypes

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

In [24]:
fdata[['dep_time','dep_delay']] = fdata[['dep_time','dep_delay']].astype(np.int64)

In [25]:
fdata.dtypes

year                int64
month               int64
day                 int64
dep_time            int64
sched_dep_time      int64
dep_delay           int64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

In [26]:
fdata.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517,515,2,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,01-01-2013 05:00
1,2013,1,1,533,529,4,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,01-01-2013 05:00
2,2013,1,1,542,540,2,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,01-01-2013 05:00
3,2013,1,1,544,545,-1,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,01-01-2013 05:00
4,2013,1,1,554,600,-6,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,01-01-2013 06:00

In [27]:
fdata['dep_delay'].max()

1301

In [28]:
fdata.describe()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,flight,air_time,distance,hour,minute
count,327346.0,327346.000000,327346.000000,327346.000000,327346.000000,327346.000000,327346.000000,327346.000000,327346.000000,327346.000000,327346.000000,327346.000000,327346.000000,327346.000000
mean,2013.0,6.564803,15.740825,1348.789883,1340.335098,12.555156,1501.908238,1532.788426,6.895377,1943.104501,150.686460,1048.371314,13.141010,26.234116
std,0.0,3.413444,8.777376,488.319979,467.413156,40.065688,532.888731,497.979124,44.633292,1621.523684,93.688305,735.908523,4.662063,19.295918
min,2013.0,1.000000,1.000000,1.000000,500.000000,-43.000000,1.000000,1.000000,-86.000000,1.000000,20.000000,80.000000,5.000000,0.000000
25%,2013.0,4.000000,8.000000,907.000000,905.000000,-5.000000,1104.000000,1122.000000,-17.000000,544.000000,82.000000,509.000000,9.000000,8.000000
50%,2013.0,7.000000,16.000000,1400.000000,1355.000000,-2.000000,1535.000000,1554.000000,-5.000000,1467.000000,129.000000,888.000000,13.000000,29.000000
75%,2013.0,10.000000,23.000000,1744.000000,1729.000000,11.000000,1940.000000,1944.000000,14.000000,3412.000000,192.000000,1389.000000,17.000000,44.000000
max,2013.0,12.000000,31.000000,2400.000000,2359.000000,1301.000000,2400.000000,2359.000000,1272.000000,8500.000000,695.000000,4983.000000,23.000000,59.000000

In [29]:
fdata[fdata['dep_delay']==fdata['dep_delay'].max()]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
7072,2013,1,9,641,900,1301,1242.0,1530,1272.0,HA,51,N384HA,JFK,HNL,640.0,4983,9,0,09-01-2013 09:00

In [34]:
fdata.loc[fdata['dep_delay'].max()]['time_hour']

'02-01-2013 13:00'